body {
  background-color: var(--light-yellow);
}

h1,h2 {
  color: var(--brown);
}

section {
  background-color: wheat;
  padding: 2px 1% 2% 1%;
  margin-bottom: 20px;
}

.image_content {
  background-color: yellow;
  width: 250px;
  box-sizing: border-box;
  margin: 10px 20px 10px 10px;
  padding: 20px;
  border: 6px solid blue;
}

audio {
  width: 30%;
}
